body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}
.card_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 400px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(184, 6, 6, 0.789);
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.profilepic img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto 15px;
  display: block;
}

.detail p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin: 0;
}

.detail p span {
  font-weight: bold;
}
.btnnext {
  margin-top: 10px;
  font-weight: 600;
  padding: 5px 10px;
  font-size: 20px;
  border-color: transparent;
  background-color: rosybrown;
  transition: all 1s;
}
.btnnext:hover {
  background-color: rgb(224, 152, 152);
  border-color: pink;
}
