* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_container {
  width: 400px;
  height: 400px;
  /* border: 2px solid red; */
  text-align: center;
  padding: 20px;
}
.card {
  margin-top: 50px;
}
.JokePunchLine {
  margin-top: 30px;
}

.btnChange {
  margin-top: 20px;
  padding: 4px;
  background: linear-gradient(to right, #daffcc, #66ff7a);
  font-size: 30px;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  border-color: green;
  transition: all 2s;
}
.btnChange:hover {
  border-color: black;
  scale: 1.1;
}
